@media only screen and (max-width : 1400px) {

    #main {
        .right {
            main {
                .content {
                    .item {
                        --paddingA: 1em;
                        --widthA: 100% / 2;
                        width: calc(var(--widthA) - var(--paddingA));
                        max-height: 28em;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width : 1200px) {

    #main {
        flex-wrap: wrap-reverse;

        aside {
            width: 100%;
        }

        .right {
            width: 100%; 
            
            nav {
                position: sticky;
                z-index: 2;
                top: 0;
            }

            main {
                position: relative;
                z-index: 1;
                
                .content {
                    .item {
                        --paddingA: 1em;
                        --widthA: 100% / 2;
                        width: calc(var(--widthA) - var(--paddingA));
                        max-height: 28em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 900px) {

    #main {

        .right {

            nav {
                flex-wrap: wrap-reverse;

                ul {
                    width: 100%;
                    margin-bottom: 1em;
                    display: flex;
                    justify-content: center;
                }
            }

            .headertext {
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width : 700px) {

    #main {

        .right {
            nav {
                ul {
                    flex-wrap: wrap;
                    justify-content: center;

                    li {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding: 0.3em 0;
                    }
                }
            }

            main {
                
                .content {
                    .item {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 480px) {
    #main {

        .right {

            main {
                padding: 2em 1em;
            }
        }

        aside {
            padding: 2em 1em;
        }
    }
}



